* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-in .astro-1 {
  padding: 70px;
  text-align: center;
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
}
.header-in .grid-head-1 {
  background-color: blueviolet;
  padding: 3px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
}

.main-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-in .nombre-1 {
  position: relative;
  border-top: 10px solid blueviolet;
  border-bottom: 10px solid blueviolet;
  border-left: 10px solid blueviolet;
  border-right: 10px solid blueviolet;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 10px 10px 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}
.main-in .nombre-2 {
  position: relative;
  border-top: 10px solid blueviolet;
  border-bottom: 10px solid blueviolet;
  border-left: 10px solid blueviolet;
  border-right: 10px solid blueviolet;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 10px 10px 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-align: center;
}
.main-in .nombre-3 {
  position: relative;
  border-top: 10px solid blueviolet;
  border-bottom: 10px solid blueviolet;
  border-left: 10px solid blueviolet;
  border-right: 10px solid blueviolet;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 10px 10px 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-align: center;
}
.main-in .block-1 {
  display: block;
  background-color: rgb(29, 29, 29);
  position: relative;
  padding: 15px 30px;
  border-top: 5px solid rgb(120, 37, 242);
  border-bottom: 5px solid rgb(120, 37, 242);
  border-left: 5px solid rgb(120, 37, 242);
  border-right: 5px solid rgb(120, 37, 242);
}
.main-in .block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(29, 29, 29);
  margin: 50px;
  padding: 15px 30px;
  border-top: 5px solid rgb(120, 37, 242);
  border-bottom: 5px solid rgb(120, 37, 242);
  border-left: 5px solid rgb(120, 37, 242);
  border-right: 5px solid rgb(120, 37, 242);
  font-size: 15px;
  color: #9aa0a6;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-tec .at {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  padding: 0px 0px 0px 25px;
}
.header-tec .i-t {
  width: 100%;
  background-color: black;
  height: 50px;
  margin: 20px px 200px 0px;
  padding: 15px 0px 200px 5px;
  font-size: 20px;
}
.header-tec .i-t a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 70px 30px 0px;
}

.main-tec .t-t {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 0px 0px 0px 5px;
}
.main-tec .l-t {
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 5px;
}
.main-tec .ct {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}

.l-t2 {
  margin: 0px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  padding: 0px 50px 0px 5px;
}

.header-per .a-per {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  padding: 0px 0px 0px 60px;
}
.header-per .i-per {
  width: 100%;
  background-color: black;
  height: 50px;
  margin: 20px px 200px 0px;
  padding: 15px 0px 200px 5px;
  font-size: 20px;
}
.header-per .i-per a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 30px 0px;
}

.main-per .p-p {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 0px 0px 0px 5px;
}
.main-per .l-per {
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 5px;
}
.main-per .c-p {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}
.main-per .l2-p {
  margin: 0px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  padding: 0px 50px 0px 5px;
}

.header-dis .a-p {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  padding: 0px 0px 0px 50px;
}
.header-dis .i-p {
  width: 100%;
  background-color: black;
  height: 50px;
  margin: 20px px 200px 0px;
  padding: 15px 0px 200px 5px;
  font-size: 20px;
}
.header-dis .i-p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px 30px 0px;
}

.dis-main .d-1 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 0px 0px 0px 5px;
}
.dis-main .lorem-2 {
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 5px;
}
.dis-main .d-2 {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}
.dis-main .l-p {
  margin: 0px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  padding: 0px 50px 0px 5px;
}

.header-con .a-c {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  padding: 0px 0px 0px 25px;
}
.header-con .i-c {
  width: 100%;
  background-color: black;
  height: 50px;
  margin: 20px px 200px 0px;
  padding: 15px 0px 200px 5px;
  font-size: 14px;
}
.header-con .i-c a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 90px 30px 0px;
}

.main-con .c-c {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  padding: 0px 0px 0px 5px;
}
.main-con .l-c {
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 5px;
}
.main-con .n-c {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}
.main-con .l-c2 {
  margin: 0px 0px 0px 0px;
  font-family: "Geologica", sans-serif;
  font-size: 15px;
  padding: 0px 50px 0px 5px;
}

@media (min-width: 425px) {
  .a-c {
    position: relative;
    left: 50px;
  }
  .header-tec .i-c {
    width: 100%;
  }
  .at {
    position: relative;
    left: 60px;
  }
  .a-per {
    position: relative;
    left: 50px;
  }
}
@media (min-width: 768px) {
  .block-1 {
    display: block;
    background-color: rgb(29, 29, 29);
    position: relative;
    padding: 30px;
    border-top: 5px solid rgb(120, 37, 242);
    border-bottom: 5px solid rgb(120, 37, 242);
    border-left: 5px solid rgb(120, 37, 242);
    border-right: 5px solid rgb(120, 37, 242);
    margin: 0px 100px 0px 100px;
  }
  .block-2 {
    padding: 30px;
    margin: 0px 100px 0px 100px;
  }
  .header-con .a-c {
    position: relative;
    left: 190px;
    bottom: 50px;
    padding: 100px;
  }
  .header-con .i-c a {
    position: relative;
    left: 50px;
    font-size: 20px;
    padding-left: 7px;
  }
  .c-c {
    position: relative;
    bottom: 100px;
    left: 350px;
  }
  .l-c {
    position: relative;
    bottom: 100px;
    left: 50px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .n-c {
    position: relative;
    bottom: 100px;
    left: 350px;
  }
  .l-c2 {
    position: relative;
    left: 50px;
    bottom: 100px;
  }
  .header-dis .a-p {
    padding-left: 270px;
  }
  .at {
    position: relative;
    left: 220px;
  }
  .a-per {
    position: relative;
    left: 220px;
  }
}
@media (min-width: 1024px) {
  .header-con .a-c {
    position: relative;
    left: 200px;
    padding-left: 200px;
  }
  .i-c a {
    font-size: 15px;
    margin: 0px 0px 0px 50px;
  }
  .c-c {
    position: relative;
    left: 450px;
  }
  .l-c {
    position: relative;
    left: 45px;
    padding-right: 100px;
  }
  .n-c {
    position: relative;
    left: 450px;
  }
  .l-c2 {
    position: relative;
    left: 45px;
  }
  .header-dis .a-p {
    padding: 0px 0px 0px 400px;
  }
  .at {
    position: relative;
    left: 350px;
  }
  .a-per {
    position: relative;
    left: 350px;
  }
}
@media (min-width: 1440px) {
  .bloques-2 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 300px;
  }
  .header-con .a-c {
    position: absolute;
    left: 2px;
    padding-left: 300px;
  }
  .header-con .i-c a {
    position: relative;
    left: 100px;
    margin-left: 100px;
    font-size: 15px;
  }
}
@media (min-width: 1238px) {
  .a-c {
    margin: 100px 500px 0px 0px;
  }
  .header-dis .a-p {
    padding: 0px 0px 0px 550px;
  }
  .at {
    position: relative;
    left: 450px;
  }
  .a-per {
    position: relative;
    left: 450px;
  }
  .i-per a {
    position: relative;
    right: 10px;
  }
}