.header-tec {
        .at {
            font-size: 20px;
            margin:20px 0px 0px 0px;
            font-family: 'Geologica', sans-serif;
            padding: 0px 0px 0px 25px;
        }
    
        .i-t {
            width: 100%;
            background-color: black;
            height: 50px;
            margin: 20px px 200px 0px;
            padding: 15px 0px 200px 5px;
            font-size: 20px;
            a{
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-self: center;
                align-items: center;
                margin: 0px 70px 30px 0px;
            }
            
            
        }
        }
        
    



