.main-in {
    display: flex;
    flex-direction: column;

    .nombre-1 {
        

        position: relative;
        border-top: 10px solid blueviolet;
        border-bottom: 10px solid blueviolet;
        border-left: 10px solid blueviolet;
        border-right: 10px solid blueviolet;
        justify-self: center;
        align-self: center;
        padding: 10px 10px 10px 10px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;


    }

    .nombre-2 {
        
        position: relative;
        border-top: 10px solid blueviolet;
        border-bottom: 10px solid blueviolet;
        border-left: 10px solid blueviolet;
        border-right: 10px solid blueviolet;
        justify-self: center;
        align-self: center;
        padding: 10px 10px 10px 10px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        color: white;
        font-style: italic;
        text-align: center;
    }

    .nombre-3 {
        
        position: relative;
        border-top: 10px solid blueviolet;
        border-bottom: 10px solid blueviolet;
        border-left: 10px solid blueviolet;
        border-right: 10px solid blueviolet;
        justify-self: center;
        align-self: center;
        padding: 10px 10px 10px 10px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        color: white;
        font-style: italic;
        text-align: center;



    }


    .block-1 {
        display: block;
        background-color: rgba(29, 29, 29, 1);
        position: relative;

        
        padding: 15px 30px;
        border-top: 5px solid rgba(120, 37, 242, 1);
        border-bottom: 5px solid rgba(120, 37, 242, 1);
        border-left: 5px solid rgba(120, 37, 242, 1);
        border-right: 5px solid rgba(120, 37, 242, 1);

    
    }

    .block-2 {
        display: flex;
        background-color: rgba(29, 29, 29, 1);
        margin: 50px;

        padding: 15px 30px;
        border-top: 5px solid rgba(120, 37, 242, 1);
        border-bottom: 5px solid rgba(120, 37, 242, 1);
        border-left: 5px solid rgba(120, 37, 242, 1);
        border-right: 5px solid rgba(120, 37, 242, 1);
        font-size: 15px;
        color: #9aa0a6;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}