.main-tec{
    

    .t-t {
        margin: 50px 0px 0px 0px;
        font-size: 20px;
        font-family: 'Kanit', sans-serif;    
        padding: 0px 0px 0px 5px;
    }

    .l-t {
        font-family: 'Geologica', sans-serif;
        font-size: 15px;
        margin: 0px 0px 0px 0px;
        padding: 0px 50px 0px 5px;
        
    }

    .ct {
        font-size: 20px;
        font-family: 'Kanit', sans-serif;
        margin: 50px 0px 0px 0px;
        padding: 0px 0px 0px 5px;
    }
        
    }

    .l-t2 {
        margin: 0px 0px 0px 0px;
        font-family: 'Geologica', sans-serif;
        font-size: 15px;
        padding: 0px 50px 0px 5px;
        
    }
