@media (min-width:425px){
    .a-c{
        position: relative;
        left: 50px;
        
    }
    .header-tec .i-c{
        width: 100%;
        a{
            
            
        }
        }
        .at{
            position: relative;
            left: 60px;
        }
        .a-per{
            position: relative;
            left: 50px;
        }
    }
