@media (min-width:1440px){
    .bloques-2{
        justify-self: center;
        align-self: center;
        padding:300px;
    }
    .a-c{
        margin: 0px 0px 0px 300px;
        position: relative;
        left: px;
        
        
        
        
    }
    .at{
        position: relative;
        left: 800px;
    }
    
    
    .c-c{
        position: relative;
        left: 900px;
        top: -10px;
    }
    .l-c{
        padding: 0px 300px 0px 300px;
        position: relative;
        left: 200px;
        right: 300px;

    }
    .n-c{
        position: relative;
        left: 900px;
        top: -250px;

    }
    
    .a-p{
        padding: 310px;
    }
    }

