@media (min-width:768px){
    .block-1 {
        display: block;
        background-color: rgba(29, 29, 29, 1);
        position: relative;

        
        padding: 30px;
        border-top: 5px solid rgba(120, 37, 242, 1);
        border-bottom: 5px solid rgba(120, 37, 242, 1);
        border-left: 5px solid rgba(120, 37, 242, 1);
        border-right: 5px solid rgba(120, 37, 242, 1);
        margin:0px 100px 0px 100px ;
}



.block-2 {
    padding: 30px;
    margin:0px 100px 0px 100px ;
}



.header-con .a-c{
    position: relative;
    left: 190px;
    bottom:50px;
    padding: 100px;
}
.header-con .i-c{
    
    
    a{
        position: relative;
        left: 50px;
        font-size: 20px;
        padding-left: 7px;
        
        
        
    }
}
.c-c{
    position: relative;
    bottom: 100px;
    left: 350px;
}
.l-c{
    position: relative;
    bottom: 100px;
    left: 50px;
    justify-self: center;
    align-self: center;
    
}
.n-c{
    position: relative;
    bottom: 100px;
    left: 350px;
}
.l-c2{
    position: relative;
    left: 50px;
    bottom: 100px
    
}


.header-dis .a-p{
    padding-left: 270px;
}
.at{
    position: relative;
    left: 220px;
}
.a-per{
    position: relative;
    left: 220px;
}
}




