@media (min-width:425px){
    .a-c{
        position: relative;
        left: 50px;
        
    }
    .i-c{
        width: 100%;
        a{
            position: relative;
            left: -20px;
            font-size: 15px;
            padding: 0px 10px;
        }
    }
}