@media (min-width:1238px){
    .a-c{
        margin: 100px 500px 0px 0px;
    }
    .header-dis .a-p{
        padding: 0px 0px 0px 550px;
    }

    .at{
        position: relative;
        left: 450px;
    }
    .a-per{
        position: relative;
        left: 450px;
    }
    .i-per{
        a{
            position: relative;
            right: 10px;
        }
    }
    }
    
