$grid-header:1/2;


$titulos-col: 2 / 3;
$titulos-row:1 / 2;
$fuente: 1.25rem;

$titulos-col2: 2 / 3;
$titulos-row2:3 / 4;
$fuente2: 1.25rem;


$lorems-col:1 / 5;
$lorems-row:2 / 3;
$f-lo: .9375rem;

$lorems-col2:1 / 5;
$lorems-row2:4 / 5;
$f-lo2: .9375rem;