.header-con{
    @include grid( grid , 100% , repeat(6, 1fr) , repeat(3, 100px));

    .a-c{
        grid-column: 3/5;
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
        font-size: 60px;
        font-family: 'Geologica', sans-serif;
    }
    .i-c{
        grid-column: 2/6;
        justify-self: center;
        align-self: center;
        font-size: 30px;
        font-family: 'Geologica', sans-serif;
    }

}